<div class="container" style="margin-top:30px">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><b>Novo Aluno</b></h4>
      </div>
      <div class="panel-body">
      <%= form_with(model: student, local: true) do |form| %>
        <% if student.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <ul>
            <% student.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div style="margin-bottom: 12px" class="input-group">
          <%= form.text_field :name, class: 'form-control', placeholder: Student.human_attribute_name(:name) %>
        </div>

        <div style="margin-bottom: 12px" class="input-group">
          <%= form.text_field :grade, class: 'form-control', placeholder: Student.human_attribute_name(:grade) %>
        </div>

        <div style="margin-bottom: 12px" class="input-group">
          <%= collection_select(:student, :course_id, Course.all, :id, :name, prompt: 'Selecione o Curso', class: 'form-control') %>
        </div>

        <div class="actions" class="form-group text-center">
          <%= form.submit 'Salvar', class: 'btn btn-success' %>
          <%= link_to 'Voltar', root_path, class: "btn btn-default"%>
        </div>
      <% end %>
