
<div class="container" style="margin-top:30px">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><b>Novo Curso</b></h4>
      </div>
      <div class="panel-body">
        <%= form_with(model: course, local: true) do |form| %>
          <% if course.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
            <ul>
              <% course.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div style="margin-bottom: 12px" class="input-group">
            <%= form.text_field :name, class: 'form-control', placeholder: Course.human_attribute_name(:name) %>
          </div>
          <div style="margin-bottom: 12px" class="input-group">
            <%= form.text_field :grade, class: 'form-control', placeholder: Course.human_attribute_name(:grade) %>
          </div>

          <div style="margin-bottom: 12px" class="input-group">
            <%= collection_select(:course, :institution_id, Institution.all, :id, :name, prompt: 'Selecione a Instituição', class: 'form-control') %>
          </div>

          <div class="actions" class="form-group text-center">
            <%= form.submit 'Salvar', class: 'btn btn-success' %>
            <%= link_to 'Voltar', root_path, class: "btn btn-default"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
