<div class="container-fluid" style="margin-top:30px">
  <div class="col-md-12">
  <% flash.each do |key, value| %>
      <div class="alert <%= bootstrap_class_for(key) %>"><%= value %></div>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><b>Lista Geral</b></h4>
      </div>
      <div class="panel-body">
        <%= form_tag list_new_path do %>
          <div class='col-md-12'>
            <div class='col-sm-2'>
              <%= text_field_tag 'institution_name', nil, placeholder: 'INSTITUIÇÃO',  class: 'form-control' %>
            </div>
            <div class='col-sm-2'>
              <%= text_field_tag 'institution_grade', nil, placeholder: 'MÉDIA GERAL',  class: 'form-control col-sm-2' %>
            </div>
            <div class='col-sm-2'>
              <%= text_field_tag 'course_name', nil, placeholder: 'CURSO',  class: 'form-control col-sm-2' %>
            </div>
            <div class='col-sm-2'>
              <%= text_field_tag 'course_grade', nil, placeholder: 'MÉDIA CURSO',  class: 'form-control col-sm-2' %>
            </div>
            <div class='col-sm-2'>
              <%= text_field_tag 'student_grade', nil, placeholder: 'MÉDIA ALUNO',  class: 'form-control col-sm-2'%>
            </div>
            <%= button_tag 'Filtrar', class: 'btn btn-success col-sm-2' %>
          </div>
        <% end %>
        <hr><hr>
        <table class='table table-bordered'>
            <% @list.each do |item| %>
              <% if @old_institution_id != item.institution_id %>
                <thead>
                  <tr>
                    <th><%= Institution.human_attribute_name :name %></th><td><%= item.institution_name %></td>
                    <th><%= Institution.human_attribute_name :grade %></th><td><%= item.institution_grade %></td>
                    <th colspan="3"></th>
                    <th> <%= link_to 'Editar', edit_institution_path(id: item.institution_id) %></th>
                  </tr>
                </thead>
              <% end %>

              <% if !item.course_id.nil? && @old_course_id != item.course_id %>
                <thead>
                  <tr style="background-color:#d1e0e0;">
                    <th></th>
                    <th><%= Course.human_attribute_name :name %></th><td><%= item.course_name %></td>
                    <th><%= Course.human_attribute_name :grade %></th><td><%= item.course_grade %></td>
                    <th colspan="2"></th>
                    <th> <%= link_to 'Editar', edit_course_path(id: item.course_id) %></th>
                  </tr>
                </thead>

              <% end %>

              <% if !item.student_id.nil? && @old_student_id != item.student_id %>
                <thead>
                  <tr style="background-color:#b3cccc;">
                    <th></th><th></th>
                    <th><%= Student.human_attribute_name :name %></th><td><%= item.student_name %></td>
                    <th><%= Student.human_attribute_name :grade %></th><td><%= item.student_grade %></td>
                    <th></th>
                    <th> <%= link_to 'Editar', edit_student_path(id: item.student_id) unless item.student_id.blank? %></th>
                  </tr>
                </thead>

              <% end %>
              <% @old_institution_id = item.institution_id %>
              <% @old_course_id = item.course_id %>
              <% @old_student_id = item.student_id %>

            <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
