<!DOCTYPE html>
<html>
  <head>
    <title>Approva</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Cadastrar Instituição', new_institution_path %></li>
          <li><%= link_to 'Cadastrar Curso', new_course_path %></li>
          <li><%= link_to 'Cadastrar Estudante', new_student_path %></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
